// Font sizes
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 22px;
$font-header: 48px;

// Colors
// $bg: #fff;
// $fg: #413d45;
// $content-bg: #eee;
// $card-bg: #ddd;
// $link-color: #777;

// $fg: #d1d1d1;
$fg: #d1d1d1;
// $bg: #1d1d20;
$bg: #1b1b1b;
$bg2: #111;
$bg3: #333;
$comp-beige: #d5d1bf;
$comp-blue: #20c4db;
$sub-fg: red;
$special-fg: #20c4db;
$link-color: $sub-fg;
$link-hover-color: $fg;
$card-bg: $bg;

$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

// Breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Allows for writing same media @content blocks for mutliple media types
// i.e @include media(xs, sm, md) { font-size: 20px; }
@mixin media($keys...) {
    @each $key in $keys {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }
