// Font sizes
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 22px;
$font-header: 48px;

// Colors
// $bg: #fff;
// $fg: #413d45;
// $content-bg: #eee;
// $card-bg: #ddd;
// $link-color: #777;

$bg: hwb(233deg 11% 78%);
$content-bg: hwb(233deg 6% 85%);
$fg: hwb(237deg 81% 9%);
$sub-fg: hwb(237deg 44% 36%);
$special-fg: orange;
$link-color: $sub-fg;
$link-hover-color: $fg;
$card-bg: $bg;

// Breakpoints
$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Allows for writing same media @content blocks for mutliple media types
// i.e @include media(xs, sm, md) { font-size: 20px; }
@mixin media($keys...) {
    @each $key in $keys {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    }
}
